/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

* {
    box-sizing: border-box;
}

#main-heading{
    text-align: center;
    margin: 0 50px;
}

#coffees {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}

.coffee{
    display: flex;
    align-items: baseline;
    margin: 1em 1em;

}

/*.coffee * {*/
/*    font-size: 1.75em;*/
/*}*/

.roast{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    margin-left: 10px;
}
