/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background:linear-gradient(0deg, rgba(50.2, 50.2, 50.2, 0.6), rgba(50.2, 50.2, 50.2, 0.6)), url("assets/image.jpeg");
}



#main-heading{
    text-align: center;
    margin: 0 50px;
}

#coffees {
    display: flex;
    flex-wrap: wrap;
    font-family: Merriweather;
    color: white;
}

.coffee{
    display: flex;
    align-items: baseline;
    margin: 1em 1em;

}

/*.coffee * {*/
/*    font-size: 1.75em;*/
/*}*/

.roast{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    margin-left: 10px;
}

#title{
    font-family: Merriweather;
    font-size: 50px;
    color: white;
}

#add-coffee-header{
    font-family: Merriweather;
    color: white;

}

#submit {
    background-color: #3b7ca0;
    font-family: 'Barlow Condensed';
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 3px;
    box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.18),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.20),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.22),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.24),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.26),
            100px 100px 80px rgba(0, 0, 0, 0.32);
}

#submit-coffee {
    background-color: #3b7ca0;
    font-family: 'Barlow Condensed';
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 3px;
    box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.18),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.20),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.22),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.24),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.26),
            100px 100px 80px rgba(0, 0, 0, 0.32);
}

.input-font{
    font-family: 'Barlow Condensed';
    color: white;
    font-size: 20px;
    font-weight: bold;
}